#intro{
  height: calc(100vh - 4rem);
  width: 110vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: x;
  position: relative;
  
}
.bg{
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}
.introContent{
  height: 100vh;
  width: 100;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello{
  font-size: 1.5rem;
  font-weight: 100;
}
.introName{
  color: yellow;
}
.introPara{
  font-size: medium;
  font-weight: 100;
  letter-spacing: 1px;
}
.btn{
  background: white;
  width: 150px;
  height: 75px;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-size: small;
  font-weight: 700;
  font-family: 'Poppins',sans-serif;

}
.btnImg{
  object-fit: cover;
  margin: 0 0.25rem;
  height: 0.1rem;
}
 
@media screen and (max-width: 768px) {
  #intro {
    width: 90vw;
    max-width: none;
  }

  .introContent {
    font-size: 2rem;
  }
  
}

@media screen and (max-width: 576px) {
  #intro {
    width: 100vw;
  }

  .introContent {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .btn {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: small;
  }
  
}


