#reviews{
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.reviewsTitle{
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.imgReviews{
  padding: auto;
  margin: 50px;
  height: 18rem;
}